
.contenedor-app{
    display: flex;
}

.seccion-main{
    width: 80%;
}


.side-bar{
    min-height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
    color: white;
    border-right: 5px solid black;
}


.side-bar h1{
    margin: 20px 0;
    font-size: 2rem;
}

.side-bar hr{
    width: 80%;
    color: white;
    background-color: white;
}

.btn{
    width: 90%;
    background-color: var(--bg-btn);
    color: white;
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
}

.form-nuevo-proyecto{

    margin: 10px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-nuevo-proyecto input{
    width: 100%;
    margin: 5px 0;
}

.form-nuevo-proyecto .btn{
    width: 100%;
}

.error-proyecto{
    background-color: red;
    width: 90%;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 5px;

}

.error-tarea{
    background-color: red;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 5px auto;
    color: white;
    padding: 8px 0;

}

.btn-nuevo-proyecto{
    margin: 5px 0;
    font-size: 1.3rem;
    cursor: pointer;
}

.icon-cancel-proyecto{
    cursor: pointer;
}

.input-agregar{
    height: 50px;
    font-size: 1.3rem;
}
/* Listado Proyecto */

.proyectos{

    width: 85%;
    text-align: center;
    margin-top: 40px;
}

.proyectos h2{
    font-size: 1.8rem;
}

.listado-proyecto{

    margin-top: 10px;
    list-style: none;
}

.listado-proyecto .item-proyecto button{

    width: 100%;
    height: 100%;
    padding: 8px 0;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin: 5px 0;
    font-size: 1.1rem;
    
}


.proyecto-activo{
    outline: 5px solid var(--bg-btn);
    background-color: var(--bg-color-secundario);
    color: white;
}

/* Barra Principal */

.app-header{

    background-color: var(--bg-color-secundario);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.app-header .icon-menu-mobile{
    width: 50px;
    height: 50px;
}

.app-header .nombre-usuario{
    font-size: 1.5rem;
    font-weight:bolder;
}

.app-header .nav-principal a{
    text-decoration: none;
    color: white;
}

.app-header .nav-principal .btn-cerrar-sesion{
    font-size: 1.2rem;
    width: 200px;
}

/* Form Tarea */

.nombre-proyecto{
    font-size: 2.5rem;
    text-align: center;
    padding: 20px 0;
}

.formulario-tarea{
    background-color: var(--main-bg-color);
    padding: 10px 0;
}

.contenedor-input-form{
    display: flex;
    margin: 0 auto;
}

.input-tarea{

    width: 50%;
    margin: 5px auto;
    height: 50px;
    font-size: 1.3rem;
}

.btn-agregar-tarea{
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--bg-btn);
    width: 50%;
    font-size: 1.3rem;
}

/* Tarea */

.contenedor-tareas{
    background-color: var(--bg-color-tereciario);
    min-height: 100vh;
}

.listado-tareas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarea{
    width: 70%;
    list-style: none;
    margin: 10px 0;
    box-shadow: 5px 6px 6px 1px rgba(0,0,0,0.59);
    
}

.tarea-primario{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 10px 0;
    background-color: white;
}

.tarea-primario .nombre-tarea{
    width: 50%;
    margin-left: 25px;
    font-size: 1.3rem;
    font-weight: 700;
}

.tarea-primario .funcionalidad-tarea{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tarea-primario .funcionalidad-tarea .estado{
    margin: 0 20px;
    
}

.tarea-primario .funcionalidad-tarea .estado .completo{

    display: flex;
    align-items: center;
    font-size: 1.3rem;
    border: none;
    background-color: rgb(58, 131, 58);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    
}

.tarea-primario .funcionalidad-tarea .estado .incompleto{

    display: flex;
    align-items: center;
    font-size: 1.3rem;
    border: none;
    background-color: rgb(245, 55, 55);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.estado-text{
    margin-left: 5px;
}

.tarea-primario .funcionalidad-tarea .acciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.tarea-primario .funcionalidad-tarea .acciones .btn-tarea{
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
}

.tarea-primario .funcionalidad-tarea .acciones .edit-tarea:hover{
    color: var(--bg-btn);
}

.tarea-primario .funcionalidad-tarea .acciones .eliminar-tarea:hover{
    color: red;
}

.btn-eliminar-proyecto{
    font-size: 1.1rem;
    padding: 5px 10px;
    margin: 10px 0 0 5px;
    background-color: white;
    border: none;
}

.btn-eliminar-proyecto:hover{
    color: red;
    outline: 2px solid red;
    
}

.fechas{
    width: 100%;
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-menu-mobile{
    display: none;
}

/* Mobile */
@media (max-width:700px){

    .icon-menu-mobile{
        display: initial;
    }

    /*Container Principal */

    .contenedor-app{
        position: relative;
        display: flex;
        flex-direction: column;
    }

    /* Barra */

    .app-header{
        width: 100%;
        position: relative;
    }

    /* Sidebar*/

    .side-bar{
        position: absolute;
        bottom: -90px;
        left: 0;
        width: 50%;
        height: 100%;
        min-height: 100vh;
        z-index: 2;
    }

    .sombreado{
        position: absolute;
        right: 0;
        bottom: -90px;
        background-color: rgba(0, 0, 0, 0.548);
        width: 50%;
        height: 100%;
        z-index: 2;
        
    }


    /*Formulario tarea*/
    .seccion-main{
        width: 100%;
    }

    .disabled{
        display: none;
    }
}

