*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

.FormLogin{

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    background-color: #15202B;
}

.FormLogin .ContainerForm{

    width: 450px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;

}

.FormLogin .ContainerForm h1{

    text-align: center;
    margin: 5px 0 10px 0;
    padding: 20px 0;

}

.FormLogin .ContainerForm .CampoForm{

    padding: 5px 0;
    margin: 0 auto;
    width: 80%;
}

.FormLogin .ContainerForm .CampoForm label{

    display: inline-block;
    width: 25%;
}

.FormLogin .ContainerForm .CampoForm input{
    width: 75%;
    margin: auto 0;
}

.FormLogin .ContainerForm .CampoForm:last-child{
    margin-top: 10px;

}

.FormLogin .ContainerForm .CampoForm .Btn{

    width: 100%;
    padding: 5px 20px;
    background-color: #15202B;
    color: white;
    text-decoration: none;
    border: none;
}

.FormLogin .ContainerForm .CampoForm .Btn:hover{
    outline: 3px solid #15202B;
    background-color: white;
    color: #15202B;
}

.FormLogin .ContainerForm .EnlaceCuenta{
    
    margin: 0 auto 0 10%;
    text-decoration: none;
    font-size: 0.9rem;
    color: gray;
}

.FormLogin .ContainerForm .EnlaceCuenta:hover{
    color: black;
}